/* Resetando margens e preenchimentos padrão */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 170vh;
    text-align: center;

}

.item {
    margin: 270px;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.image {
    width: 150%;
    height: 840px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description {
    width: 100%;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.5;
}

.icon {
    font-size: 25px;
    color: #ffffff;
    margin-left: 84%  
}